:root {
    --accent-color: var(--green-5);
    --accent-bg-color: var(--green-5);
}

.drop-widget:drop(active):focus,
.drop-widget:drop(active) {
    border-radius: 12px;
}

.sans {
    font-family: sans;
}

.serif {
    font-family: serif;
}
